body
{
    background-color:lavender
}
h1
{
    color:darkmagenta
}    
body
{
    height:fit-content6000px
    width-em200px
    float-em;left:auto
    padding5px
    line-height30px
}
footer
{  
     text-align:center
     margin-right200px
}
header
{
    text-align:center
}

     
